html {
  font-size: 21px;
}

html, body {
  height: 100vh;
  height: -webkit-fill-available;
  height: fill-available;
}

body, p, a {
  font-family: opake, sans-serif;
  color: #23001E
}

p {
  word-wrap: normal;
}

body {
  margin: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
