html {
  font-size: 21px;
}

body, p, a {
  font-family: opake, sans-serif;
  color: #23001E
}

body {
  margin: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
